.detailBox{
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 5px 15px rgb(71, 71, 245);
    display: flex;
}

.contentBox{
    width: 80%;
    border: 1px solid red;
    position: relative;
}


.coverImg{
    width: 97%;
    height: 80%;
    margin: 10px;
    border-radius: 10px;
}

.savedBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    color: rgb(211, 61, 61);
}

.savedBtn:hover{
    cursor: pointer;
    color: rgb(249, 67, 67);
}

.unsavedBtn{
    position: absolute;
    top: 20px;
    right: 60px;
    width: 40px;
    height: 40px;
    color: rgb(211, 61, 61);
}

.unsavedBtn:hover{
    cursor: pointer;
    color: rgb(249, 67, 67);
}


.reportBtn{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    color: rgb(211, 61, 61);
}

.reportBtn:hover{
    cursor: pointer;
    color: rgb(249, 67, 67);
}



.content{
    border: 1px solid blue;
}


.locationInfoBox{
    width: 20%;
    border: 1px solid green;
}






.commentBox{
    width: 100%;
    border: 1px solid red;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.commentInput{
    width: 70%;
    font-size: 28px;
    border-radius: 10px;
}

.commentBtn{
    width: 10%;
    background-color: rgb(79, 216, 193);
}

