/*
Created By: Yun Ki Jung
Modified By: Yun Ki Jung, Apr/09/2023
*/

.searchContainer{
    padding: 40px;
    background-color:rgb(71, 71, 245);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(187, 186, 186);
    color: snow;
}

.postingsContainer{
    display: flex;
    min-height: 445px;
    flex-wrap: wrap;
}