/*
Created By: Yun Ki Jung
Modified By: Yun Ki Jung, Apr/09/2023
*/

.searchContainer{
    padding: 40px;
    background-color:rgb(71, 71, 245);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(187, 186, 186);
    color: snow;
}



.userContainerHeader{
    width: 1000px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 5px 15px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.userCardHeader{
    display: flex;
    margin: 3px;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cardItemHeader{
    flex: 1;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.userListContainer{
    width: 1000px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 5px 15px;
    margin: auto;
    padding: 10px;
}

