/*
Created By: Yun Ki Jung
Modified By: Yun Ki Jung, Apr/09/2023
*/

.navContainer{
    background-color: rgb(244, 244, 239);
    padding: 50px 100px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(196, 195, 195);
    color: rgb(71, 71, 245);
}

.logo{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.logo:hover{
    cursor: pointer;
    color: rgb(104, 104, 208);
}

.menuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.menuItem{
    font-size: 24px;
    font-weight: bold;
}

.menuItem:hover{
    cursor: pointer;
    color: rgb(104, 104, 208);
}

.loginContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.loginBtn{
    font-size: 24px;
    font-weight: bold;
}

.loginBtn:hover{
    cursor: pointer;
    color: rgb(104, 104, 208);
}

.registerBtn{
    font-size: 24px;
    font-weight: bold;
}

.registerBtn:hover{
    cursor: pointer;
    color: rgb(104, 104, 208);
}

.userName{
    font-size: 24px;
    font-weight: bold;
    color: rgb(81, 81, 187);
}

.logoutBtn{
    font-size: 24px;
    font-weight: bold;
}

.logoutBtn:hover{
    cursor: pointer;
    color: rgb(104, 104, 208);
}


