/*
Created By: Yun Ki Jung
Modified By: Yun Ki Jung, Apr/09/2023
*/

.postingsContainer{
    display: flex;
    min-height: 545px;
    flex-wrap: wrap;
}

.newBtn{
    margin-top: 20px;
    margin-left: 20px;
}

