/*
Created By: Yun Ki Jung
Modified By: Yun Ki Jung, Apr/09/2023
*/

.title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.formTag{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.formContainer{
    border: 1px solid red;
}

.formContainer > div{
    margin-bottom: 30px;
}